doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title 
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/contact.css')
  body
    .login-wrapper
      .login-side
        a(href='/', title='Logo')
          img.logo(src='./images/food/logo.svg', alt='Logo')
        .my-form__wrapper
          .login-welcome-row
            div.row
            h1(style='display: inline;')= signin.heading
            span.emoji(style='font-size: 2em;') 👋
            p=signin.details
          form.my-form
            .socials-row
              a(href='#', title='Use Google')
                img(src='assets/google1.png', alt='Google')
                | #{signin.google}
              a(href='#', title='Use Apple')
                img(src='assets/apple1.png', alt='Apple')
                | #{signin.apple}
            .divider
              .divider-line
              | Or
              .divider-line
            .text-field
              label(for='email') #{signin.email}
              input(type='email', id='email', name='email', placeholder='Your Email', required)
              img(src='assets/email1.svg', alt='Email Icon', title='Email Icon')
            .text-field
              label(for='password') #{signin.password}
              input(id='password', type='password', name='password', placeholder='Your Password', title='Minimum 6 characters at least 1 Alphabet and 1 Number', pattern='^(?=.*[A-Za-z])(?=.*\\d)[A-Za-z\\d]{6,}$', required)
              img(src='assets/password1.svg', alt='Password Icon', title='Password Icon')
            input.my-form__button(type='submit', value='Login')
            .my-form__actions
              .my-form__row
                span= signin.forgetPassword
                a(href='#', title='Reset Password') #{signin.resetPassword}
              .my-form__signup
                a(href='#', title='Create Account') #{signin.createAccount}
      .info-side
        img.mockup(src='assets/mock1.png', alt='Mock', class='mockup')
        .welcome-message
          div.row
          h2(style='display: inline; margin-right: 10px;')= signin.footerHeader
          span.emoji(style='display: inline-block; font-size: 2em;') 👋
          p=signin.footer
    script(src='/javascripts/script.js')
