doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Food Hub

    //- Custom CSS links
    link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/css/ionicons.min.css')
    link(rel='stylesheet', href='/stylesheets/foodhub.css')
    link(rel='stylesheet', href='/stylesheets/media_query.css')

    //- Google font link
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Monoton&family=Rubik:wght@300;400;500;600;700;800;900&display=swap', rel='stylesheet')

  body
    section#menu.product
      .container
        a(href='/')
              img(src='./images/food/logo.svg', alt='logo', width='130')
        h2.section-title Most popular dishes
        p.section-text
          | Consectetur numquam poro nemo veniam eligendi rem adipisci quo modi
      h2.product-middle-heading 
      .products-grid
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Cake', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name= popularDish.name
                p.product-price
                  span.small ₹
                  | #{popularDish.price}
              p.product-text
                | #{popularDish.description}
              .product-rating
                - for (let i = 0; i < popularDish.rating; i++)
                      ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Coffee', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name= popularDishes.name
                p.product-price
                  span.small ₹
                  | #{popularDishes.price}
              p.product-text
                | #{popularDishes.description}
              .product-rating
                - for (let i = 0; i < popularDishes.rating; i++)
                      ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Burger', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name= popular.name
                p.product-price
                  span.small ₹
                  | #{popular.price}
              p.product-text
                | #{popular.description}
              .product-rating
                - for (let i = 0; i < popular.rating; i++)
                      ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Sushi Rolls', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name= dish.name
                p.product-price
                  span.small ₹
                  | #{dish.price}
              p.product-text
                | #{dish.description}
              .product-rating
                - for (let i = 0; i < dish.rating; i++)
                      ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?French Fries', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name= popularRolls.name
                p.product-price
                  span.small ₹
                  | #{popularRolls.price}
              p.product-text
                | #{popularRolls.description}
              .product-rating
                - for (let i = 0; i < popularRolls.rating; i++)
                      ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Pizza', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name= popularRollers.name
                p.product-price
                  span.small ₹
                  | #{popularRollers.price}
              p.product-text
                | #{popularRollers.description}
              .product-rating
                - for (let i = 0; i < popularRollers.rating; i++)
                      ion-icon(name='star')
    //- Custom JS link
    script(src='/javascripts/script.js')

    //- Ionicon link
    script(type='module', src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js')
    script(nomodule='', src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js')


    
